/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Bricata;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #f05423;
	color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #203d7c;
	name: Body1;
	id: 1;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	background-color: #ffffff;
	color: #000000;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Bricata
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Bricata-Column-Column1
{
	
}

.TableStyle-Bricata-Head-Header1
{
	
}

.TableStyle-Bricata-HeadI-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	background-color: #f05423;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadF-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadD-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadC-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadA-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-HeadG-Column1-Header1
{
	color: #000000;
	background-color: #f05423;
}

.TableStyle-Bricata-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Bricata-Foot-Footer1
{
	
}

.TableStyle-Bricata-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Bricata-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Bricata-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Bricata-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Bricata-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Bricata-Body-Body1
{
	
}

.TableStyle-Bricata-BodyI-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
}

.TableStyle-Bricata-BodyI-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyE-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyE-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyF-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-BodyF-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyH-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyH-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyD-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-BodyD-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyC-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
}

.TableStyle-Bricata-BodyC-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyB-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyB-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyA-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
}

.TableStyle-Bricata-BodyA-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-BodyG-Column1-Body1
{
	color: #ffffff;
	background-color: #203d7c;
}

.TableStyle-Bricata-BodyG-Column1-Body1 p
{
	color: #ffffff;
}

.TableStyle-Bricata-Body-Body2
{
	
}

.TableStyle-Bricata-BodyI-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-Bricata-BodyI-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyE-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyE-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyF-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-BodyF-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyH-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyH-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyD-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Bricata-BodyD-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyC-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-Bricata-BodyC-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyB-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Bricata-BodyB-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyA-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-Bricata-BodyA-Column1-Body2 p
{
	color: #000000;
}

.TableStyle-Bricata-BodyG-Column1-Body2
{
	color: #000000;
	background-color: #ffffff;
}

.TableStyle-Bricata-BodyG-Column1-Body2 p
{
	color: #000000;
}


