/*<meta />*/

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #2d82dc;
}

a:link
{
	color: #2d82dc;
}

a:visited
{
	color: #2d82dc;
}

a:hover
{
	color: #BED230;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.example
{
	background-color: #f0ff86;
	background-repeat: no-repeat;
	border: solid 1px #a4ac67;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.GlossaryPageDefinition
{
	
}

div.GlossaryPageHeading
{
	
}

div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.note
{
	background-color: #47484a;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border: solid 1px #404040;
	border-radius: 6px;
	color: #b3b3b3;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 10px;
}

.noteInDiv
{
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
}

div.quotation
{
	background-color: #e1e1e1;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 20px;
	padding-left: 40px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

div.TightContent
{
	margin: 0;
	padding: 0;
	line-height: 1em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

h1.Appendix
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

img
{
	border: inset 1px #000000;
	border-right-style: solid;
	border-right-width: 2px;
}

img.AbsolutePosition
{
	padding: 5px;
}

img.ReduceButtonSize
{
	max-height: 25px;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/DropDownOpenSecondLevel.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #bed230;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
}

MadCap|dropDownHotspot:hover
{
	color: #BED230;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	list-style-image: none;
}

ol ol
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol ol ol
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.ExampleHeadText
{
	font-weight: bold;
	page-break-after: avoid;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
	border: 0;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.GlossaryPrintHead
{
	
}

p.IndexHeading
{
	
}

p.IndexPrintHead
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	
}

p.note
{
	color: #616E14;
	border: solid 1px #BFD62F;
	background-color: #DAE691;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	mc-auto-number-format: '{b}Note: {/b}';
}

p.quotationname
{
	text-align: right;
}

p.TableCaption
{
	
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextHeadDark
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

tr
{
	
}

ul
{
	list-style-image: url('../Images/Bullet1.png');
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/Bullet1.png');
	margin-left: -10px;
}

ul ul
{
	list-style-image: url('../Images/Bullet2.png');
	margin-left: -10px;
}

html.templateTopic div.sideContent
{
	display: none;
}

@media print
{
	body
	{
		font-size: 8pt;
		line-height: 13px;
		margin: 8px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom-color: #bed230;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #bed230;
		font-size: 11pt;
	}

	div.GlossaryPageTerm
	{
		color: #bed230;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	div.note
	{
		padding-bottom: 20px;
	}

	h1
	{
		font-size: 22pt;
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		padding-left: 0;
		padding-top: 0;
		font-family: Roboto;
		color: #203d7c;
		mc-hyphenate: never;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'APPENDIX ';
		color: #203d7c;
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
		color: #203d7c;
	}

	h2
	{
		font-size: 12pt;
		font-weight: normal;
		line-height: 14pt;
	}

	h3
	{
		font-size: 10pt;
		font-weight: normal;
		line-height: 12pt;
		mc-heading-level: 0;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		line-height: 11pt;
		mc-heading-level: 0;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 8pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #bed230;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top: 0;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	MadCap|xref
	{
		color: #404040;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #BED230;
	}

	nav.tab-bar,
	div.sideContent
	{
		display: none;
	}

	ol ol
	{
		margin-left: 30px;
	}

	ol ol ol
	{
		margin-left: 30px;
	}

	p
	{
		font-family: Roboto;
		font-size: 10pt;
		mc-hyphenate: never;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.GlossaryPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.IndexPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		color: #bed230;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
		color: #203d7c;
	}

	p.TOC2
	{
		font-size: 10pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
		color: #203d7c;
	}

	p.TOC3
	{
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
		color: #203d7c;
	}

	p.TOC4
	{
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
		color: #203d7c;
	}

	p.TOCHeading
	{
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 0;
		text-align: center;
		color: #f05423;
	}

	span.ChapAutoNum
	{
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		color: #ffffff;
	}

	span.FigureNum
	{
		color: #bed230;
		font-style: normal;
	}

	span.TableNum
	{
		color: #bed230;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		list-style-image: url('../Images/Bullet1Print.eps');
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../Images/Bullet1Print.eps');
		margin-left: 30px;
	}

	ul ul
	{
		list-style-image: url('../Images/Bullet2Print.eps');
		margin-left: 30px;
	}

	img
	{
		border: solid 2px #000000;
		border-top-style: inset;
		border-top-width: 1px;
		border-right-style: solid;
		page-break-before: avoid;
		max-width: 490px;
	}

	h1#TOCHeading
	{
		mc-auto-number-position: none;
		font-size: 36pt;
		text-align: center;
	}

	h1#Title
	{
		font-size: 48pt;
		line-height: 48pt;
		mc-auto-number-position: none;
	}

	p#subtitle
	{
		color: #f05423;
		font-size: 24pt;
		line-height: 24pt;
	}

	p#ProdDesc
	{
		color: #203d7c;
		font-size: 18pt;
		line-height: 12pt;
	}

	div.TOC
	{
		color: #203d7c;
		font-family: Roboto;
		line-height: 24pt;
		font-size: 24px;
	}

	div.Title
	{
		color: #203d7c;
		font-family: Roboto;
		font-size: 48pt;
		line-height: 48pt;
		font-weight: normal;
	}

	h2.samePage
	{
		page-break-before: avoid;
		page-break-inside: avoid;
	}

	p#secondSubtitle
	{
		font-size: 18pt;
		color: #f05423;
	}

	h1.TOCHeading
	{
		color: #203d7c;
	}

	h1.ChapterHeading
	{
		color: #ffffff;
		mc-auto-number-class: ChapAutoNum;
		mc-hyphenate: never;
		font-size: 22pt;
		mc-auto-number-format: 'CH:SECTION {chapnum} ';
	}

	p.ChapterFirstPage
	{
		color: #ffffff;
	}

	ul#ChapterFirstPage.ChapterFirstPage
	{
		
	}

	li.ChFirst
	{
		color: #ffffff;
	}

	p.note
	{
		background-color: #6dacde;
		color: #000000;
	}
}

h1#TOCHeading
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

h1#Title
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

p#subtitle
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p#ProdDesc
{
	margin-bottom: 8px;
	margin-top: 8px;
}

h1.TOCHeading
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
}

div.TOC
{
	
}

div.Title
{
	
}

p#secondSubtitle
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p#ChapterFirst
{
	margin-bottom: 8px;
	margin-top: 8px;
}

ul#ChapterFirstPage
{
	list-style-image: url('../../Images/Bullet1.png');
}

p.p_1
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol.ol_1
{
	list-style-image: none;
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul.ul_1
{
	list-style-image: url('../Images/Bullet1.png');
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.li_1
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td.td_1
{
	margin: 8px;
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 11pt;
	vertical-align: top;
}

p.Header
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: Arial;
}

p.Footer
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: Arial;
}

p.BodyText
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
}

p.p_2
{
	margin-top: 7pt;
	margin-left: 5pt;
	margin-right: 3pt;
	color: #1F3D7B;
	font-size: 48pt;
}

span.span_1
{
	color: #1F3D7B;
	font-size: 18pt;
}

p.p_3
{
	margin-left: 5pt;
	margin-right: 3pt;
}

p.p_4
{
	margin-top: 1pt;
	margin-left: 5pt;
	margin-right: 3pt;
	color: #F05322;
	font-size: 24pt;
}

p.p_5
{
	margin-left: 5pt;
	margin-right: 3pt;
	color: #F05322;
	font-size: 18pt;
}

span.span_2
{
	color: #1F3D7B;
	letter-spacing: 0pt;
	font-size: 18pt;
}

p.p_6
{
	margin-top: 11pt;
	margin-left: 27pt;
	margin-right: 278pt;
	text-align: center;
}

span.span_3
{
	color: #1F3D7B;
}

span.span_4
{
	color: #1F3D7B;
	letter-spacing: 0pt;
}

p.BodyText_1
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 15pt;
	margin-left: 61pt;
	margin-right: 20pt;
	text-align: justify;
}

h2.Heading2
{
	orphans: 2;
	widows: 2;
	margin-left: 28pt;
	margin-right: 5pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
}

span.CommentReference
{
	font-size: 8pt;
}

a.a_1
{
	color: #1F3D7B;
}

h2.Heading2_1
{
	orphans: 2;
	widows: 2;
	margin-left: 28pt;
	margin-right: 5pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
	color: #1F3D7B;
}

span.span_5
{
	color: #1F3D7B;
	font-size: 8pt;
}

span.span_6
{
	color: #1F3D7B;
	letter-spacing: 1pt;
	font-size: 8pt;
}

p.p_7
{
	margin-left: 69pt;
	margin-right: 20pt;
	text-align: justify;
}

span.span_7
{
	color: #1F3D7B;
	letter-spacing: 0pt;
	font-size: 10pt;
}

span.span_8
{
	color: #1F3D7B;
	font-size: 10pt;
}

p.p_8
{
	margin-top: 2pt;
	margin-left: 69pt;
	margin-right: 20pt;
	text-align: justify;
}

span.span_9
{
	color: #1F3D7B;
	letter-spacing: 0pt;
	font-size: 8pt;
}

p.p_9
{
	margin-top: 2pt;
	margin-left: 61pt;
	margin-right: 20pt;
	text-align: right;
}

span.span_10
{
	color: #1F3D7B;
	letter-spacing: 1pt;
}

p.BodyText_2
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-right: 20pt;
	text-align: right;
}

p.p_10
{
	margin-top: 2pt;
	margin-right: 20pt;
	text-align: right;
}

p.p_11
{
	margin-top: 1pt;
	margin-right: 20pt;
	text-align: right;
}

a.a_2
{
	color: #1F3D7B;
	letter-spacing: 0pt;
}

p.BodyText_3
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 61pt;
}

p.BodyText_4
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 2pt;
	margin-right: 20pt;
	text-align: right;
}

p.BodyText_5
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
}

span.span_11
{
	color: #1F3D7B;
	letter-spacing: 1pt;
	font-size: 10pt;
}

p.p_12
{
	margin-top: 4pt;
	margin-left: 69pt;
	margin-right: 20pt;
	text-align: justify;
}

p.BodyText_6
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 61pt;
	margin-right: 20pt;
	text-align: justify;
}

p.BodyText_7
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 2pt;
	margin-left: 61pt;
	text-align: justify;
}

h1.Heading1
{
	orphans: 2;
	widows: 2;
	margin-top: 8pt;
	margin-left: 28pt;
	margin-right: 3pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-size: 22pt;
	font-weight: normal;
}

h2.Heading2_2
{
	orphans: 2;
	widows: 2;
	margin-left: 28pt;
	margin-right: 5pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
	color: #3F3F3F;
}

span.span_12
{
	color: #3F3F3F;
	letter-spacing: 0pt;
}

span.span_13
{
	color: #3F3F3F;
}

span.span_14
{
	color: #3F3F3F;
	letter-spacing: 1pt;
}

p.BodyText_8
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_9
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	list-style-type: disc;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 64pt;
}

p.BodyText_10
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 3pt;
	color: #3F3F3F;
}

img.img_1
{
	left: 0;
	text-align: left;
	z-index: 14;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_2
{
	left: 0;
	text-align: left;
	z-index: 15;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

span.span_15
{
	color: #3F3F3F;
	font-size: 8pt;
}

p.p_13
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 226pt;
}

p.BodyText_11
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

img.img_3
{
	z-index: -5;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: page;
	margin-left: 0;
}

span.span_16
{
	font-family: 'Century Gothic';
	color: #FFFFFF;
	letter-spacing: -1pt;
	font-size: 90pt;
}

span.span_17
{
	font-family: 'Century Gothic';
	color: #FFFFFF;
	letter-spacing: 0pt;
	font-size: 90pt;
}

span.span_18
{
	font-family: 'Century Gothic';
	color: #FFFFFF;
	font-size: 90pt;
}

p.p_14
{
	margin-left: 1pt;
	margin-right: 0pt;
}

div.div_1
{
	margin-left: 56.55pt;
	margin-top: 226.65pt;
	visibility: visible;
	mso-wrap-style: square;
	mso-width-percent: 0;
	mso-height-percent: 0;
	mso-wrap-distance-left: 9pt;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 9pt;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: page;
	mso-width-percent: 0;
	mso-height-percent: 0;
	mso-width-relative: page;
	mso-height-relative: page;
	v-text-anchor: top;
}

h1.Heading1_1
{
	orphans: 2;
	widows: 2;
	margin-top: 8pt;
	margin-left: 28pt;
	margin-right: 3pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-size: 22pt;
	font-weight: normal;
	color: #FFFFFF;
}

span.span_19
{
	color: #FFFFFF;
	letter-spacing: 0pt;
}

span.span_20
{
	color: #FFFFFF;
}

p.BodyText_12
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 92pt;
	margin-right: 52pt;
}

p.BodyText_13
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
}

h1.Heading1_2
{
	orphans: 2;
	widows: 2;
	margin-top: 8pt;
	margin-left: 28pt;
	margin-right: 3pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-size: 22pt;
	font-weight: normal;
	color: #1F3D7B;
}

p.BodyText_14
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_15
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 3pt;
	color: #3F3F3F;
}

p.BodyText_16
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 3pt;
	color: #3F3F3F;
}

p.BodyText_17
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

img.img_4
{
	left: 0;
	text-align: left;
	z-index: 18;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 132.75pt;
}

p.p_15
{
	margin-right: 1pt;
	text-align: right;
}

img.img_5
{
	left: 0;
	text-align: left;
	z-index: 19;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 132.75pt;
}

p.p_16
{
	margin-top: 5pt;
	margin-right: 1pt;
	text-align: right;
}

img.img_6
{
	left: 0;
	text-align: left;
	z-index: 20;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 132.75pt;
}

p.p_17
{
	margin-top: 5pt;
	text-align: right;
}

p.p_18
{
	margin-left: 60pt;
	color: #3F3F3F;
	font-size: 8pt;
}

img.img_7
{
	left: 0;
	text-align: left;
	z-index: 21;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 261pt;
}

img.img_8
{
	left: 0;
	text-align: left;
	z-index: 22;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 261pt;
}

p.p_19
{
	margin-top: 5pt;
	margin-left: 60pt;
}

p.p_20
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 1pt;
}

span.span_21
{
	letter-spacing: 0pt;
}

span.span_22
{
	letter-spacing: 1pt;
}

p.p_21
{
	margin-top: 1pt;
	margin-left: 16pt;
	margin-right: 15pt;
}

div.div_2
{
	left: 2280;
	top: 706;
	visibility: visible;
	mso-wrap-style: square;
	v-text-anchor: top;
	background-color: #95b3d7;
}

p.BodyText_18
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 8pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.BodyText_19
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 2pt;
}

p.BodyText_20
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.BodyText_21
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 7pt;
}

p.BodyText_22
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.BodyText_23
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 3pt;
	color: #3F3F3F;
}

img.img_9
{
	left: 0;
	text-align: left;
	z-index: 24;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_10
{
	left: 0;
	text-align: left;
	z-index: 25;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_22
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 330pt;
}

img.img_11
{
	left: 0;
	text-align: left;
	z-index: 26;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_23
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 3pt;
}

p.BodyText_24
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_25
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 7pt;
}

p.BodyText_26
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 15pt;
	text-align: justify;
}

img.img_12
{
	left: 0;
	text-align: left;
	z-index: 30;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_24
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 5pt;
}

img.img_13
{
	left: 0;
	text-align: left;
	z-index: 31;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_14
{
	left: 0;
	text-align: left;
	z-index: 32;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

span.span_23
{
	color: #3F3F3F;
	letter-spacing: 1pt;
	font-size: 8pt;
}

p.p_25
{
	margin-top: 5pt;
	margin-left: 58pt;
	margin-right: 136pt;
}

p.BodyText_27
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 52pt;
}

p.BodyText_28
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_29
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 4pt;
}

img.img_15
{
	left: 0;
	text-align: left;
	z-index: 34;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_16
{
	left: 0;
	text-align: left;
	z-index: 35;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

span.span_24
{
	color: #3F3F3F;
	letter-spacing: 0pt;
	font-size: 8pt;
}

p.p_26
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 61pt;
}

p.BodyText_30
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 4pt;
	color: #3F3F3F;
}

p.BodyText_31
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 1pt;
}

p.BodyText_32
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 4pt;
	color: #3F3F3F;
}

p.BodyText_33
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.BodyText_34
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 7pt;
}

p.BodyText_35
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 11pt;
	text-align: justify;
}

img.img_17
{
	left: 0;
	text-align: left;
	z-index: 40;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_18
{
	left: 0;
	text-align: left;
	z-index: 41;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_27
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 108pt;
}

img.img_19
{
	left: 0;
	text-align: left;
	z-index: 42;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_20
{
	left: 0;
	text-align: left;
	z-index: 43;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_28
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 136pt;
}

img.img_21
{
	left: 0;
	text-align: left;
	z-index: 44;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_29
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 5pt;
}

img.img_22
{
	left: 0;
	text-align: left;
	z-index: 45;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_23
{
	left: 0;
	text-align: left;
	z-index: 46;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_30
{
	margin-top: 5pt;
	margin-left: 58pt;
	margin-right: 80pt;
}

img.img_24
{
	left: 0;
	text-align: left;
	z-index: 47;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_25
{
	left: 0;
	text-align: left;
	z-index: 48;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_31
{
	margin-top: 5pt;
	margin-left: 58pt;
	margin-right: 5pt;
}

p.BodyText_36
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 10pt;
}

p.BodyText_37
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 30pt;
	margin-right: 2pt;
	color: #3F3F3F;
}

p.BodyText_38
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 30pt;
	margin-right: 2pt;
}

img.img_26
{
	left: 0;
	text-align: left;
	z-index: 50;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_27
{
	left: 0;
	text-align: left;
	z-index: 51;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_28
{
	left: 0;
	text-align: left;
	z-index: 52;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_29
{
	left: 0;
	text-align: left;
	z-index: 53;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_30
{
	left: 0;
	text-align: left;
	z-index: 54;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_31
{
	left: 0;
	text-align: left;
	z-index: 55;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_32
{
	left: 0;
	text-align: left;
	z-index: 56;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

img.img_33
{
	left: 0;
	text-align: left;
	z-index: 57;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.75pt;
}

p.p_32
{
	margin-top: 6pt;
	margin-left: 60pt;
	margin-right: 65pt;
}

p.BodyText_39
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 30pt;
	margin-right: 0pt;
}

p.BodyText_40
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 1pt;
	margin-right: 0pt;
	color: #3F3F3F;
}

p.BodyText_41
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 1pt;
	margin-right: 0pt;
}

img.img_34
{
	left: 0;
	text-align: left;
	z-index: 58;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_35
{
	left: 0;
	text-align: left;
	z-index: 59;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_36
{
	left: 0;
	text-align: left;
	z-index: 60;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_37
{
	left: 0;
	text-align: left;
	z-index: 61;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

p.p_33
{
	margin-top: 6pt;
	margin-left: 31pt;
	margin-right: 37pt;
}

img.img_38
{
	left: 0;
	text-align: left;
	z-index: 62;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

p.p_34
{
	margin-top: 1pt;
	margin-left: 31pt;
	margin-right: 0pt;
}

img.img_39
{
	left: 0;
	text-align: left;
	z-index: 63;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_40
{
	left: 0;
	text-align: left;
	z-index: 64;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_41
{
	left: 0;
	text-align: left;
	z-index: 65;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_42
{
	left: 0;
	text-align: left;
	z-index: 66;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

p.p_35
{
	margin-top: 5pt;
	margin-left: 31pt;
	margin-right: 42pt;
}

img.img_43
{
	left: 0;
	text-align: left;
	z-index: 67;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_44
{
	left: 0;
	text-align: left;
	z-index: 68;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_45
{
	left: 0;
	text-align: left;
	z-index: 69;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_46
{
	left: 0;
	text-align: left;
	z-index: 70;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_47
{
	left: 0;
	text-align: left;
	z-index: 71;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_48
{
	left: 0;
	text-align: left;
	z-index: 72;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

img.img_49
{
	left: 0;
	text-align: left;
	z-index: 73;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 249.5pt;
}

p.p_36
{
	margin-top: 5pt;
	margin-left: 31pt;
	margin-right: 40pt;
}

p.BodyText_42
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 9pt;
	margin-right: 5pt;
	color: #3F3F3F;
}

p.BodyText_43
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 9pt;
	margin-right: 5pt;
}

img.img_50
{
	left: 0;
	text-align: left;
	z-index: 74;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 375pt;
}

img.img_51
{
	left: 0;
	text-align: left;
	z-index: 75;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 375pt;
}

img.img_52
{
	left: 0;
	text-align: left;
	z-index: 76;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 375pt;
}

p.p_37
{
	margin-top: 6pt;
	margin-left: 39pt;
	margin-right: 60pt;
}

img.img_53
{
	left: 0;
	text-align: left;
	z-index: 77;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 375pt;
}

img.img_54
{
	left: 0;
	text-align: left;
	z-index: 78;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 375pt;
}

p.p_38
{
	margin-top: 1pt;
	margin-left: 39pt;
	margin-right: 78pt;
}

p.BodyText_44
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 28pt;
	margin-right: 10pt;
}

p.BodyText_45
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 5pt;
	color: #3F3F3F;
}

p.BodyText_46
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-bottom: 6pt;
	margin-left: 28pt;
	margin-right: 10pt;
}

p.BodyText_47
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 5pt;
	color: #3F3F3F;
}

img.img_55
{
	left: 0;
	text-align: left;
	z-index: 83;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_56
{
	left: 0;
	text-align: left;
	z-index: 84;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_39
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 351pt;
}

img.img_57
{
	left: 0;
	text-align: left;
	z-index: 85;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_58
{
	left: 0;
	text-align: left;
	z-index: 86;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_40
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 315pt;
}

p.BodyText_48
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_49
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-bottom: 6pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.p_41
{
	margin-left: 0pt;
	margin-right: 0pt;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

p.p_42
{
	margin-top: 1pt;
	margin-left: 2pt;
	margin-right: 0pt;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

div.div_3
{
	left: 165;
	top: 105;
	visibility: visible;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.p_43
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

p.p_44
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 1pt;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

div.div_4
{
	left: 968;
	top: 105;
	visibility: visible;
	mso-wrap-style: square;
	v-text-anchor: top;
}

div.div_5
{
	left: 4388;
	top: 210;
	visibility: visible;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.p_45
{
	margin-top: 3pt;
	margin-left: 72pt;
}

p.BodyText_50
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 2pt;
	margin-left: 33pt;
}

p.BodyText_51
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 33pt;
}

p.p_46
{
	margin-left: 33pt;
	margin-right: 0pt;
	color: #3F3F3F;
	font-size: 8pt;
}

p.p_47
{
	margin-left: 33pt;
	margin-right: 6pt;
	color: #3F3F3F;
	font-size: 8pt;
}

p.p_48
{
	margin-left: 7pt;
	margin-right: 4pt;
	color: #3F3F3F;
	font-size: 8pt;
}

p.p_49
{
	margin-left: 7pt;
	margin-right: 0pt;
	color: #3F3F3F;
	font-size: 8pt;
}

p.BodyText_52
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 8pt;
	margin-left: 7pt;
	margin-right: 7pt;
}

p.BodyText_53
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 7pt;
	margin-right: 7pt;
	color: #3F3F3F;
}

p.BodyText_54
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 7pt;
	margin-right: 22pt;
	color: #3F3F3F;
}

p.BodyText_55
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 7pt;
	margin-right: 7pt;
	color: #3F3F3F;
}

p.BodyText_56
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 9pt;
	margin-left: 28pt;
	margin-right: 7pt;
}

img.img_59
{
	z-index: -4;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: page;
	margin-left: 0;
}

span.span_25
{
	color: #FFFFFF;
	letter-spacing: 1pt;
}

p.BodyText_57
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 92pt;
	margin-right: 13pt;
}

img.img_60
{
	left: 0;
	text-align: left;
	z-index: 91;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_61
{
	left: 0;
	text-align: left;
	z-index: 92;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_50
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 192pt;
}

p.BodyText_58
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

img.img_62
{
	left: 0;
	text-align: left;
	z-index: 93;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_63
{
	left: 0;
	text-align: left;
	z-index: 94;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_64
{
	left: 0;
	text-align: left;
	z-index: 95;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

span.span_26
{
	font-weight: bold;
	color: #3F3F3F;
	font-size: 8pt;
}

p.p_51
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 196pt;
}

img.img_65
{
	left: 0;
	text-align: left;
	z-index: 96;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_66
{
	left: 0;
	text-align: left;
	z-index: 97;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

span.span_27
{
	font-weight: bold;
	color: #3F3F3F;
	letter-spacing: 1pt;
	font-size: 8pt;
}

p.p_52
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 106pt;
}

img.img_67
{
	left: 0;
	text-align: left;
	z-index: 98;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.BodyText_59
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 13pt;
}

p.BodyText_60
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 4pt;
}

p.BodyText_61
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 4pt;
	color: #3F3F3F;
}

p.BodyText_62
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 41pt;
}

p.BodyText_63
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 4pt;
}

p.BodyText_64
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 4pt;
	color: #3F3F3F;
}

p.BodyText_65
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 10pt;
	color: #3F3F3F;
}

li.ListParagraph
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 4pt;
	margin-left: 58pt;
	font-family: Arial;
}

p.BodyText_66
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 21pt;
	color: #3F3F3F;
}

li.ListParagraph_1
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-left: 58pt;
	font-family: Arial;
	margin-top: 7pt;
	margin-right: 8pt;
}

li.ListParagraph_2
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: Arial;
	margin-top: 5pt;
	margin-left: 60pt;
	margin-right: 197pt;
}

li.ListParagraph_3
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-left: 58pt;
	font-family: Arial;
	margin-top: 5pt;
}

li.ListParagraph_4
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-left: 58pt;
	font-family: Arial;
	margin-top: 5pt;
	margin-right: 5pt;
}

li.ListParagraph_5
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 4pt;
	margin-left: 58pt;
	font-family: Arial;
	margin-right: 195pt;
}

ol.ol_2
{
	list-style-type: decimal;
	margin-left: 58pt;
}

p.BodyText_67
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 21pt;
}

p.BodyText_68
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-bottom: 6pt;
	margin-left: 28pt;
	margin-right: 5pt;
}

p.BodyText_69
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 28pt;
	margin-right: 3pt;
	color: #3F3F3F;
}

span.span_28
{
	font-weight: bold;
	color: #FFFFFF;
}

div.div_6
{
	visibility: visible;
	mso-wrap-style: square;
	v-text-anchor: top;
}

img.img_68
{
	left: 0;
	text-align: left;
	z-index: 110;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_69
{
	left: 0;
	text-align: left;
	z-index: 111;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_53
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 247pt;
}

img.img_70
{
	left: 0;
	text-align: left;
	z-index: 112;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_71
{
	left: 0;
	text-align: left;
	z-index: 113;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_54
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 271pt;
}

img.img_72
{
	left: 0;
	text-align: left;
	z-index: 114;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.BodyText_70
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 28pt;
	margin-right: 5pt;
	color: #3F3F3F;
}

img.img_73
{
	left: 0;
	text-align: left;
	z-index: 117;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_74
{
	left: 0;
	text-align: left;
	z-index: 118;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.BodyText_71
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 1pt;
	margin-left: 28pt;
	margin-right: 3pt;
}

p.BodyText_72
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 28pt;
	margin-right: 7pt;
}

p.BodyText_73
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 3pt;
	margin-left: 28pt;
	margin-right: 4pt;
}

img.img_75
{
	left: 0;
	text-align: left;
	z-index: 120;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_55
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 4pt;
}

img.img_76
{
	left: 0;
	text-align: left;
	z-index: 121;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_56
{
	margin-top: 4pt;
	margin-left: 58pt;
	margin-right: 6pt;
}

img.img_77
{
	left: 0;
	text-align: left;
	z-index: 122;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_57
{
	margin-top: 4pt;
	margin-left: 58pt;
	margin-right: 4pt;
}

img.img_78
{
	left: 0;
	text-align: left;
	z-index: 123;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_79
{
	left: 0;
	text-align: left;
	z-index: 124;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_80
{
	left: 0;
	text-align: left;
	z-index: 125;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_58
{
	margin-top: 5pt;
	margin-left: 58pt;
	margin-right: 4pt;
}

p.BodyText_74
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 7pt;
	margin-left: 28pt;
	margin-right: 4pt;
	color: #3F3F3F;
}

p.BodyText_75
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 6pt;
	margin-left: 28pt;
	margin-right: 47pt;
}

p.BodyText_76
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 19pt;
	text-align: justify;
}

p.BodyText_77
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 5pt;
	margin-left: 28pt;
	margin-right: 65pt;
}

p.BodyText_78
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 28pt;
	margin-right: 10pt;
}

img.img_81
{
	left: 0;
	text-align: left;
	z-index: 128;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_82
{
	left: 0;
	text-align: left;
	z-index: 129;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_59
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 281pt;
}

img.img_83
{
	left: 0;
	text-align: left;
	z-index: 130;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_84
{
	left: 0;
	text-align: left;
	z-index: 131;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_60
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 200pt;
}

img.img_85
{
	left: 0;
	text-align: left;
	z-index: 132;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_86
{
	left: 0;
	text-align: left;
	z-index: 133;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_61
{
	margin-top: 1pt;
	margin-left: 58pt;
	margin-right: 194pt;
}

p.BodyText_79
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 1pt;
	margin-left: 28pt;
	margin-right: 5pt;
	color: #3F3F3F;
}

img.img_87
{
	left: 0;
	text-align: left;
	z-index: 134;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

img.img_88
{
	left: 0;
	text-align: left;
	z-index: 135;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 0;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 0;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: page;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 72.5pt;
}

p.p_62
{
	margin-top: 6pt;
	margin-left: 58pt;
	margin-right: 65pt;
}

p.BodyText_80
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 7pt;
	margin-left: 30pt;
}

a.a_3
{
	color: #3F3F3F;
}

p.BodyText_81
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 30pt;
	color: #3F3F3F;
}

a.a_4
{
	color: #3F3F3F;
	letter-spacing: 0pt;
}

p.BodyText_82
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 30pt;
	color: #3F3F3F;
	letter-spacing: 0pt;
}

p.BodyText_83
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 7pt;
	margin-left: 30pt;
	margin-right: 27pt;
}

p.BodyText_84
{
	orphans: 2;
	widows: 2;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 4pt;
	margin-left: 53pt;
	margin-right: 27pt;
}

